<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RealState</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active' %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <% if current_user %>
        <li class="nav-item dropdown">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              <i class="fa-solid fa-user-astronaut"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><button class="dropdown-item" type="button"><%= link_to 'Profile', profile_properties_path %>Profile</button></li>
              <li><button class="dropdown-item" type="button"><%= link_to 'wallet', profile_wallet_path %>wallet</button></li>
              <li><button class="dropdown-item" type="button"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></button></li>
            </ul>
          </div>
        </li>
      <% else %>
      <button class="btn link-offset-2 link-underline link-underline-opacity-0" type="submit"><%= link_to 'Login', new_user_session_path %></button>
      <% end %>
    </div>
  </div>
</nav>