<%= form_with model: [:profile, @resource] do |f| %>
	<div>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</div>

	<div>
		<%= f.label :size %>
		<%= f.text_field :size %>
	</div>

	<div>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</div>

	<div>
		<%= f.label :images %>
		<%= f.file_field :images %>
	<div>

	<%= f.submit %>
<% end %>
