<h1>Property id # <%= @resource.id %> </h1>

<p><b>Address</b> <%= @resource.address %><p>
<p><b>Price</b> <%= @resource.price %></p>
<p><b>Size</b> <%= @resource.size %></p>
<p><b>Description</b> <%= @resource.description %> </p>